<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Type add</title>
</head>
<body>
<style th:replace="layout::style"></style>
<header th:replace="layout::header"></header>
<h2>Thêm mới danh mục sách</h2>
<div class="container">
  <table>
    <form th:action="@{/typeAdd}" th:object="${type}" method="post">
      <tr>
        <th>
          <label for="name">Tên loại sách</label>
        </th>
        <td>
          <input type="text" id="name" th:field="*{typeName}">
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-outline-primary" type="submit">Xác nhận</button>
        </td>
    </form>
    <td>
      <button class="btn btn-outline-primary"><a th:href="@{/back}">Hủy</a></button>
    </td>
    </tr>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>