<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Xuất xứ</title>
</head>
<style th:replace="layout::style"></style>
<body>
<header th:replace="layout::header"></header>
<div class="container">
  <h3 th:if="${xuatXus.isEmpty()}">Không có thông tin về nơi xuất xứ</h3>
  <h4><a href="/xuat-xu/add">Thêm giá trị xuất xứ mới</a></h4>

  <table class="table" th:if="${!xuatXus.isEmpty()}">
    <thead>
    <tr>
      <th>#</th>
      <th>Xuất xứ</th>
      <th>Quản lý</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="xuatXu, loop : ${xuatXus}">
      <td th:text="${loop.count}"></td>
      <td th:text="${xuatXu.getNoiXuatXu()}"></td>
      <td>Xóa</td>
    </tr>
    </tbody>
  </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>