<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<body style="text-align: center">
<h2 style="font-family: 'Arial Rounded MT Bold';color: deeppink;">Quan ly Heo</h2>
<a href="/heos/tao" class="btn btn-outline-info">Thêm mới</a><br>
<form action="/heos" method="get">
    <input name="maHeo" placeholder="Nhập mã heo" th:value="${maHeo}">
    <select name="xuatXu">
        <option th:each="xuatXu : ${danhSachXuatXu}" th:value="${xuatXu.xuatXu}" th:text="${xuatXu.xuatXu}"></option>
    </select>
    <select name="tinhTrang">
        <option value="Ban">Bán</option>
        <option value="Da Ban">Đã Bán</option>
    </select>
    <button>Tìm kiếm</button>
</form>

<table class="table table-striped table-hover table-danger">
    <tr>
        <th>STT</th>
        <th>Mã số heo</th>
        <th>Ngày nhập chuồng</th>
        <th>Trọng lượng khi nhập</th>
        <th>Ngày xuất chuồng</th>
        <th>Trọng lượng khi xuất</th>
        <th>Xuất Xứ</th>
        <th>Xuất Chuồng</th>
        <th colspan="3">Thao tác</th>
    </tr>
    <tr th:each="heo,status:${heoPage}">
        <td th:text="${status.count}"></td>
<!--        <td th:text="${'MH-'+ heo.getMa()}"></td>-->
        <td th:text="${heo.getMaHeo()}"></td>
        <td th:text="${heo.getNgayNhap()}"></td>
        <td th:text="${heo.getTrongLuongNhap()}"></td>
        <td th:text="${heo.getNgayXuat()}"></td>
        <td th:text="${heo.getTrongLuongXuat()}"></td>
        <td th:text="${heo.getXuatXu().getXuatXu()}"></td>
        <td><button th:text="${heo.getTinhTrang()}"></button></td>

        <td><a th:href="@{/heos/xem/__${heo.ma}__}" class="btn btn-outline-info">Chi tiết</a></td>
        <td><a th:href="@{/heos/sua/__${heo.ma}__}" class="btn btn-outline-info">Sửa</a></td>
<!--        <td><a th:href="@{/heos/xoa/__${heo.ma}__}" class="btn btn-outline-info">Xóa</a></td>-->
        <td>
            <button type="button" class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    th:attr="onclick= |confirmDelete('${heo.ma}','${heo.maHeo}')|">
                Xóa
            </button>
        </td>

    </tr>
</table>
<a th:if="${heoPage.hasPrevious()}" th:href="@{/heos(page=${heoPage.number-1},ma=${ma},tinhTrang=${tinhTrang},maXuatXu=${maXuatXu})}">Trước</a>
<span th:text="${heoPage.number+1}"></span>/<span th:text="${heoPage.totalPages}"></span>
<a th:if="${heoPage.hasNext()}" th:href="@{/heos(page=${heoPage.number+1},ma=${ma},tinhTrang=${tinhTrang},maXuatXu=${maXuatXu})}">Sau</a>

<!-- Modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/heos/xoa" method="post">
                <div class="modal-header" style="background-color: red">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Xóa</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa con heo này không?<span id="name"></span></p>
                    <input type="hidden" name="id" id="id">
                    <p style="color: red"><b>Cảnh báo:</b> Hành động này không thể hoàn tác! </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn" style="background-color: #188038">Xóa</button>

                </div>
            </form>

        </div>
    </div>
</div>
</body>
<script>
    //delete modal
    function confirmDelete(id, name) {
        document.getElementById("id").value = id;
        document.getElementById("name").innerHTML = name;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</html>