<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<style th:replace="layout::style">
</style>
<body>
<header th:replace="layout::header"></header>
<div class="container">
    <table class="table">
        <form th:action="@{/edit}" method="post" th:object="${blog}">
            <tr>
                <td colspan="2">
                    <input type="hidden" th:field="*{id}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author">Author</label>
                </td>
                <td>
                    <input type="text" id="author" th:field="*{author}">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="name">Blog name</label>
                </td>
                <td>
                    <input type="text" id="name" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="title">Title</label>
                </td>
                <td>
                    <input type="text" id="title" th:field="*{summary}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="content">Content</label>
                </td>
                <td>
                    <textarea id="content" th:field="*{content}">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                </td>
        </form>
        <td>
            <button class="btn btn-outline-primary"><a th:href="@{/back}">Cancel</a></button>
        </td>
        </tr>
    </table>
</div>
<footer th:replace="layout::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>