<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}"></a>
</p>

<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, rowStat : ${customerList}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td>
            <a th:href="@{customers/{id}/edit(id=${row.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{customers/{id}/delete(id=${row.getId()})}">Delete</a>
        </td>
        <td>
            <a th:href="@{customers/{id}/view(id=${row.getId()})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout::footer"></footer>
</body>
</html>